* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #063940;
    width: 100%;
    font-family: "Literata", serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    flex-direction: column;
    background-color: #DEFDDB;
    border-radius: 15px;
    width: 394px;
    height: 650px;
}

.mainContainer article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer h1 {
    font-size: 32px;
    font-family: 'Literata';
    font-weight: 400;
}

.mainContainer p {
    font-size: 16px;
}

.mainContainer form {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.mainContainer form input {
    width: 293px;
    height: 46px;
    border-radius: 10px;
    border: none;
    padding-left: 13px;
    background-color: #8EBDB6;
    color: #063940;
}

.mainContainer form input:focus {
    border: #008846 2px solid;
    outline: none;
}

.mainContainer form input::placeholder {
    color: #063940;
}

.mainContainer button {
    width: 132px;
    height: 46px;
    border: none;
    border-radius: 10px;
    font-family: 'Literata';
    background-color: #195E63;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 1s;
}

.mainContainer button:hover {
    background-color: #173c33;
    transition: 1s;
    width: 132px;
    height: 46px;
}